body {
	margin: 0;
	padding: 0;
}

.Container {
	width: 100%; 
	height: 100vh;
	margin: auto;
	overflow: hidden; 
	background-color: grey; 
}

.Image {
	height: 100%;
	display: block;
	margin: auto;
}
